.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.btn-main {
  transition: all 0.3s ease;

  &:hover {
  }

  &:active {
  }
}

.btn-white {
  padding: 19px 47px;
  color: $text;
  font-weight: 700;
  font-size: 14px;
  background: $white;
  border-radius: 26px;
  transition: all 0.3s ease;

  &:hover {
  }

  &:active {
  }
}

.btn-gradient {
  padding: 20px 30px;
  color: $text;
  font-weight: 700;
  font-size: 16px;
  background-image: linear-gradient(to top, #0096ff 0%, #00ffa8 100%);
  border-radius: 26px;
  transition: all 0.3s ease;

  &:hover {
  }

  &:active {
  }
}

.btn-transparent {
  padding: 20px 30px;
  color: $text;
  font-weight: 700;
  font-size: 16px;
  background: transparent;
  text-transform: uppercase;
  border-radius: 32px;
  border: 3px solid #00ffa8;
  transition: all 0.3s ease;

  &:hover {
  }

  &:active {
  }
}

.btn-accent {
  padding: 20px 30px;
  color: $white;
  font-weight: 700;
  font-size: 16px;
  background: $accent;
  text-transform: uppercase;
  border-radius: 32px;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
  }
}

@media (max-width: 1024px) {
  .btn-accent {
    font-size: 14px;
    padding: 15px 30px;
  }
}
