.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.btn-main {
  transition: all 0.3s ease;


  &:hover {
  }

  &:active {
  }
}

.btn-white {
  transition: all 0.3s ease;
  background: $white;
  font-size: 14px;
  font-weight: 700;
  color: $text;
  padding: 20px 50px;
  border-radius: 26px;

  &:hover {
  }

  &:active {
  }
}
