.care {
  padding-top: 151px;
  padding-bottom: 120px;
  color: $white;
  background-color: #4c4c4c;
  background-image: url(../images/care-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;

  .title-h2 {
    text-align: left;
    line-height: 33px;
  }

  .btn {
    font-family: 'Futura', sans-serif;
    font-weight: 600;
    font-size: 21px;
  }
}

.care__info {
  width: 100%;
  max-width: 734px;
  margin-left: 14px;
}

.care__title {
  font-size: 30px;
  font-family: 'IkraSlab', sans-serif;
  line-height: 33px;
  text-transform: uppercase;
}

.care__text {
  margin-top: 56px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.27px;
}

.care__bottom {
  display: flex;
  align-items: center;
  margin-top: 58px;
  p {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.18px;
    margin-left: 36px;
  }
}

@media (max-width: 1440px) {
  .care {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .care__text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 140%;
  }

  .care .btn {
    font-size: 16px;
  }

  .care__bottom {
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  .care {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .care__title {
    font-size: 24px;
  }
  .care__info {
    margin-left: 0;
  }
  .care {
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .care__text {
    font-size: 14px;
  }
  .care__bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .care__bottom p {
    margin-left: 0;
    margin-top: 10px;
  }
}
