.cost-section {
  padding-top: 190px;
  padding-bottom: 167px;
  background: $white;

  overflow: hidden;
  .title-h2 {
    font-size: 48px;
    line-height: 1;

    &::before {
      top: -36px;
    }
  }

  .subtitle {
    margin-top: 0;
    color: #4c4c4c;
    font-weight: 400;
    font-size: 24px;
    font-family: 'IkraSlab';
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
  }
}

.cost__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  width: 100%;
}

.cost-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 813px;
  margin-left: auto;
  padding: 103px 105px 84px;
  background-color: #00ffa8;
}

.cost-info__title {
  max-width: 340px;
  margin-top: 23px;
  font-size: 20px;
  font-family: 'IkraSlab';
  text-align: center;
}

.cost-info__list {
  max-width: 340px;
  margin-top: 30px;

  li {
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
  }
}

.cost-info__info {
  position: relative;
  width: 100%;
  max-width: 340px;
  margin-top: 34px;
  padding: 21px 33px 18px 71px;
  color: $white;
  font-weight: 500;
  line-height: 18px;
  background-color: #0098fd;
  border-radius: 36px;

  &::before {
    position: absolute;
    top: 26px;
    left: 27px;
    width: 22px;
    height: 22px;
    background-image: url(../images/cost-icon.png);
    content: '';
  }
}

.cost-form {
  display: block;
  flex-grow: 1;
  margin-top: -72px;
  width: 50%;
  max-width: 530px;
  margin-left: 450px;

  form {
    width: 100%;
  }

  .btn {
    margin-top: 75px;
  }

  input {
    padding: 13px 16px;
    font-size: 14px;
    background-color: #e8fff7;
    border: none;

    &::placeholder {
      color: $text;
    }
  }
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  .choices {
    width: 100%;
    margin-top: 19px;

    &::after {
      top: 15px !important;
      right: 18px !important;
      width: 11px !important;
      height: 7px !important;
      margin-top: 0 !important;
      background-image: url(../images/chevron.png);
      border: none !important;
      transition: all 0.3s ease;
    }
    &.is-open {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .choices__inner {
    padding: 10px 15px 10px 15px;
    line-height: 1;
    background-color: #e8fff7;
    border: none;
    min-height: auto;
  }

  .choices__list {
    padding: 0;
    top: 140%;
    background-color: #e8fff7;
  }

  .choices__item {
    font-size: 14px;
    line-height: 18px;
  }

  h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  .radio {
    margin-left: 37px;
  }

  &.form-row-col {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:nth-of-type(1) {
    input {
      max-width: 180px;
    }

    .radio {
      margin-left: 70px;
    }
  }
}

@media (max-width: 1800px) {
  .cost-form {
    margin-top: 0;
  }
  .cost__wrap {
    max-width: 1200px;
    padding: 0 30px;
    margin: 60px auto 0;
  }

  .cost-form {
    margin-left: 0;
    margin-right: 30px;
  }

  .cost-info {
    width: 50%;
  }
}

@media (max-width: 1440px) {
  .cost-section {
    padding-top: 90px;
    padding-bottom: 60px;
  }
  .cost-info {
    padding: 50px 30px;
    margin-left: 0;
  }

  .form-row:nth-of-type(1) .radio {
    margin-left: 30px;
  }
}

@media (max-width: 1024px) {
  .cost-section .title-h2 {
    font-size: 24px;
    line-height: 140%;
  }

  .cost-section .subtitle {
    font-size: 18px;
  }

  .cost-form {
    max-width: none;
    width: 100%;
    margin-right: 0;
  }

  .cost__wrap {
    flex-direction: column;
    padding: 0 15px;
    max-width: 768px;
  }

  .cost-info {
    margin-top: 60px;
    max-width: none;
    width: 100%;
    padding: 30px 20px;
  }

  .cost-form .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    margin-top: 40px;
  }

  .cost-info__list li {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .cost-info__info {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .cost-section {
    max-width: 768px;
    width: 100%;
  }
  .cost__wrap {
    max-width: 425px;
  }

  .cost-form .btn {
    font-size: 12px;
    padding: 12px 30px;
  }
  .form-row {
    flex-wrap: wrap;
    &:nth-of-type(1) {
      input {
        width: 100%;
        position: static;
        max-width: none;
      }

      .radio {
        margin-top: 20px;
        margin-left: 0;
        width: 50%;
      }
    }
  }
}

@media (max-width: 550px) {
  .cost__wrap {
    max-width: none;
  }

  .form-row {
    margin-bottom: 30px;
  }

  .form-row:nth-of-type(1) {
    flex-direction: column;
    align-items: flex-start;
    input {
      width: 100%;
    }
    .radio {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
