.covid {
  position: relative;
  padding: 80px 0;
  background: #4a4e50;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 375px;
    background-image: url(../images/covid-blur.png);
    transform: translateX(-50%);
    content: '';
    background-position: center;
    background-size: cover;
  }
}

.covid-label {
  position: relative;
  left: 50%;
  display: inline-block;
  padding: 13px 20px;
  font-weight: 900;
  font-size: 18px;
  font-family: 'Futura', sans-serif;
  text-align: center;
  background: #00ffa8;
  transform: translateX(-50%);
}

.covid-title {
  margin-top: 27px;
  color: $white;
  font-size: 96px;
  font-family: 'IkraSlab';
  line-height: 91.36px;
  text-align: center;
}

.covid__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 28px auto 0;
}

.covid-item {
  display: flex;
  align-items: center;
  max-width: 270px;

  p {
    margin-left: 25px;
    color: $white;
    font-weight: 500;
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  .covid {
    padding: 60px 0;
  }
  .covid-title {
    font-size: 64px;
    line-height: 100%;
  }

  .covid-label {
    font-size: 16px;
    line-height: 140%;
  }

  .covid-item p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .covid__items {
    flex-direction: column;
    align-items: center;
  }

  .covid-title {
    font-size: 48px;
  }

  .covid-label {
    padding: 10px 20px;
  }
  .covid-item {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    p {
      margin-left: 0;
      margin-top: 15px;
      text-align: center;
      line-height: 150%;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 550px) {
  .covid-label {
    font-size: 14px;
  }
  .covid {
    padding: 40px 0;
  }
  .covid-title {
    font-size: 32px;
  }
}
