.footer {
  padding: 45px 0 80px;
  background: $accent;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-footer {
  padding: 12px 16px;
  font-weight: 700;
  font-size: 12px;
  background: $white;
  border-radius: 18px;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.9;
  }
}

.footer__wrap {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;

  ul {
    max-width: 25%;
    margin-right: 40px;
  }
  a {
    color: $white;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.9;
    }
  }

}
