.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: 66px 0;

  .excursion {
    margin-left: 100px;
  }
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: $white;
}

.header__address {
  margin-left: 77px;
  font-size: 12px;
  font-weight: 700;
}

.header__phone {
  margin-left: 77px;
  font-size: 12px;
  font-weight: 700;
}

.excursion {
  padding: 12px 16px;
  color: $white;
  font-weight: 600;
  font-size: 12px;
  background: $gray;
  border-radius: 18px;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: 1440px) {
  .header {
    padding: 30px 0;
  }

  .header .excursion {
    margin-left: 40px;
  }

  .header__phone {
    margin-left: 30px;
  }
}

@media (max-width: 1024px) {
  .burger {
    margin-left: 30px;
  }

  .header__address {
    display: none;
  }

  .header__phone {
    display: none;
  }
}

@media (max-width: 550px) {
  .header {
    padding: 20px 0;
  }
  .burger {
    order: 2;
    margin-left: 0;
  }

  .header__wrap {
    position: relative;
  }

  .header__logo {
    order: 1;
    margin-right: auto;
  }

  .header__right {
    display: none;
  }
}
