.hero {
  position: relative;
  height: 1080px;
  overflow-x: hidden;
  //overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.hero__bg {
  position: absolute;
  right: 0;
  width: 710px;
  height: 100%;
  background-image: linear-gradient(-140.61deg, #0097fe 0%, #00ffa8 100%);
}

.hero__woman {
  position: absolute;
  top: 180px;
  right: 96px;
  //width: 1280px;

  img {
    width: 100%;
  }
}

.hero__info {
  max-width: 967px;
  margin-top: 320px;
  padding-left: 144px;
  .title-h1 {
    line-height: 78px;
  }
}

.hero__subtitle {
  color: $accent;
  font-size: 48px;
  font-family: 'IkraSlab';
  font-style: normal;
  line-height: 78px;
  letter-spacing: normal;
}

.hero__features {
  display: grid;
  grid-template-columns: repeat(2, 469px);
  margin-top: 119px;
}

.hero__feature {
  position: relative;
  max-width: 275px;
  margin-bottom: 75px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 37px;
    background-color: #0096ff;
    background-image: linear-gradient(to top, #00ffa8 0%, #0096ff 100%);
    content: '';
  }
}

.hero-stock {
  position: absolute;
  right: 83px;
  top: 607px;
  max-width: 228px;

  &::before {
    position: absolute;
    top: 11px;
    left: -52px;
    width: 34px;
    height: 32px;
    background-image: url(../images/star.png);
    content: '';
  }

  .btn {
    margin-top: 22px;
  }
}

.hero-stock__title {
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.hero-stock__subtitle {
  color: $white;
  font-weight: 500;
  margin-top: 1px;
  font-size: 18px;
}
