.nutrition {
  padding-top: 144px;
  padding-bottom: 80px;
  background: #ebebeb;

  .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 90px;
  }
}

.nutrition__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  padding: 15px 30px;
  border-radius: 10px;
  background: $accent;

  .tabs__btn {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: $white;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active {
      color: #00ffa8;
      text-decoration: underline;
    }

    &:hover {
      color: #00ffa8;
    }
  }
}

.nutrition__content {
  margin-top: 56px;
}

.nutrition__content_row {
  display: flex;
  margin-bottom: 45px;
  justify-content: space-between;
  align-items: flex-start;
  &:last-of-type {
    margin-bottom: 0;
  }
  h4 {
    max-width: 210px;
    width: 100%;
    color: #0096ff;
    font-family: 'IkraSlab';
    font-size: 30px;
  }

  p {
    //max-width: 700px;
    width: 100%;
    margin-left: 90px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }
}
