.recreation {
  padding-top: 170px;
  padding-bottom: 187px;

  .title-h2 {
    margin-top: 38px;
    &:before {
      display: none;
    }
  }
}

.recreation__icon {
  width: 103px;
  height: 83px;
  margin: 0 auto;
}

.recreation__wrap {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 210px);
  justify-content: space-between;
  gap: 50px 0;
}

.recreation__item {
  display: flex;
  align-items: center;

  p {
    margin-left: 34px;
    font-size: 18px;
    font-weight: 400;
  }
}

.recreation__item_icon {
  min-width: 60px;
  height: 60px;
  background-color: #000000;
  background-image: linear-gradient(45deg, #0096ff 0%, #00ffa8 100%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
