.recreation {
  padding-top: 157px;
  padding-bottom: 187px;

  .title-h2 {
    margin-top: 38px;
    &:before {
      display: none;
    }
  }
}

.recreation__icon {
  width: 103px;
  height: 83px;
  margin: 0 auto;
}

.recreation__wrap {
  margin-top: 57px;
  display: grid;
  grid-template-columns: repeat(3, 210px);
  justify-content: space-between;
  gap: 50px 0;
}

.recreation__item {
  display: flex;
  align-items: center;

  p {
    margin-left: 34px;
    font-size: 18px;
    font-weight: 400;
  }
}

.recreation__item_icon {
  min-width: 60px;
  height: 60px;
  background-color: #000000;
  background-image: linear-gradient(45deg, #0096ff 0%, #00ffa8 100%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1440px) {
  .recreation {
    padding-top: 90px;
    padding-bottom: 60px;
  }
}

@media (max-width: 1025px) {
  .recreation__icon {
    width: 80px;
    height: auto;
  }

  .recreation__wrap {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 550px;
    gap: 20px;
    margin: 40px auto 0;
  }
}

@media (max-width: 768px) {
  .recreation__item p {
    margin-left: 20px;
  }


}

@media (max-width: 550px) {
  .recreation__wrap {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 40px auto 0;
  }
}
