.reviews {
  padding: 205px 0;
  .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 107px;
    font-weight: 500;
  }
}

.reviews__slider {
  overflow: hidden;
  margin-top: 104px;
}

.reviews-l,
.reviews-r {
  position: absolute;
  z-index: 2;
  width: 17px;
  height: 32px;
  cursor: pointer;
  top: 50%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 32px;
  }
}

.reviews-l {
  background-image: url(../images/rev-l.png);
  left: 0;
}

.reviews-r {
  right: 0;
  background-image: url(../images/rev-r.png);
}

.review-slide {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;

  h4 {
    line-height: 24px;
    text-align: center;
    font-family: 'IkraSlab';
    font-size: 18px;
  }

  p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
  }
}

@media (max-width: 1440px) {
  .reviews {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .reviews__slider {
    margin-top: 40px;
  }

  .reviews .btn {
    margin-top: 60px;
    font-size: 14px;
    line-height: 1;
    padding: 15px 30px;
  }
}

@media (max-width: 768px) {
  .review-slide {
    max-width: 480px;
  }

  .reviews-l {
    left: 30px;
  }

  .reviews-r {
    right: 30px;
  }
}

@media (max-width: 670px) {
  .review-slide {
    max-width: 400px;
  }

  .reviews-l {
    left: 20px;
  }

  .reviews-r {
    right: 20px;
  }
}

@media (max-width: 550px) {
  .review-slide {
    max-width: 320px;
  }

  .reviews-l {
    left: 20px;
  }

  .reviews-r {
    right: 20px;
  }
}

@media (max-width: 425px) {
  .review-slide {
    max-width: 280px;
  }

  .reviews-l {
    left: 20px;
  }

  .reviews-r {
    right: 20px;
  }
}

@media (max-width: 320px) {
  .review-slide {
    max-width: 260px;
  }

  .reviews-l {
    left: 10px;
  }

  .reviews-r {
    right: 10px;
  }
}
