@import 'normalize.css/normalize';
@import 'swiper/swiper';

@include focus-visible;

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  color: $text;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.title-h1 {
  font-size: 87px;
  font-family: 'IkraSlab';
  line-height: 71px;
}

.title-h2 {
  position: relative;
  font-size: 32px;
  font-family: 'IkraSlab';
  font-style: normal;
  line-height: 48px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: -64px;
    left: 50%;
    width: 60px;
    height: 3px;
    background: $accent;
    transform: translateX(-50%);
    content: '';
  }
}

.subtitle {
  margin-top: 10px;
  color: $accent;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}
