<footer class="footer">
  <div class="container-small">
    <div class="footer__top">
      <a href="index.html" class="logo footer__logo">
        <img src="./images/logo-white.png" alt="Logo" />
      </a>

      <a href="#" class="btn-footer">Экскурсия</a>
    </div>
    <div class="footer__wrap">
      <ul>
        <li><a href="#">Забота и уход 24/7</a></li>
        <li><a href="#">Пятиразовое питание</a></li>
        <li><a href="#">Разнообразный досуг</a></li>
        <li><a href="#">Комфортные условия проживания</a></li>
        <li><a href="#">Доброжелательный персонал</a></li>
        <li><a href="#">Как оформить в пансионат</a></li>
        <br />
        <li><a href="#">Уход за лежачими больными</a></li>
        <li><a href="#">Уход за онкобольными</a></li>
        <li><a href="#">Уход за пожилыми с деменцией</a></li>
      </ul>

      <ul>
        <li><a href="#">Уход за пожилыми с болезнью Паркинсона</a></li>
        <li><a href="#">Уход за пожилыми с болезнью Альцгеймера</a></li>
        <li><a href="#">Уход за пожилыми со склерозом</a></li>
        <li><a href="#">Уход за пожилыми инвалидами</a></li>
        <li><a href="#">Уход за пожилыми на коляске</a></li>
        <li><a href="#">Уход за лежачими больными</a></li>
        <li><a href="#">Уход за пожилыми после операции</a></li>
        <li><a href="#">Уход за пожилыми с диабетом</a></li>
        <li><a href="#">Уход за пожилыми с окологией</a></li>
        <li><a href="#">Уход при тяжелых заболеваниях</a></li>
      </ul>

      <ul>
        <li><a href="#"> Уход за пожилыми с заболеванием психики</a></li>
        <li><a href="#"> Уход за пожилыми после инфаркта</a></li>
        <li><a href="#"> Уход за пожилыми с остеохондрозом</a></li>
        <li><a href="#"> Уход за пожилыми после ДТП</a></li>
        <li><a href="#"> Уход за пожилыми после инсульта</a></li>
        <li><a href="#"> Уход за пожилыми с катарактой</a></li>
        <li><a href="#"> Уход за пожилыми с атеросклерозом</a></li>
        <li><a href="#"> Уход за пожилыми после перелома</a></li>
        <li><a href="#"> Уход за пожилыми с артрозом</a></li>
      </ul>

      <ul>
        <li><a href="#">Массаж для пожилых</a></li>
        <li><a href="#">Лечебная гимнастика</a></li>
        <li><a href="#">Лечебная гимнастика</a></li>
        <li><a href="#">Временное проживание</a></li>
        <li><a href="#">Транспортировка</a></li>
        <li><a href="#">Сиделки для пожилых</a></li>
        <li><a href="#">Проживание за пенсию</a></li>
      </ul>
    </div>
  </div>
</footer>
