<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="#" class="logo header__logo">
        <img src="./images/logo.png" alt="">
      </a>

      <div class="burger">
        <span></span>
      </div>

      <nav class="header__nav nav">
        <ul>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </nav>

      <div class="header__right"></div>
    </div>
  </div>
</header>
