<div class="body-blackout"></div>
<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="#" class="logo header__logo">
        <img src="./images/logo.png" alt="" />
      </a>

      <div class="burger">
        <span></span>
      </div>

      <div class="header__right">
        <p class="header__address">ул. Движенцев, 17л</p>
        <a href="tel:+7 831 235 05 68" class="header__phone"
          >+7 831 235 05 68</a
        >
        <a href="#" class="excursion excursion-dark">Экскурсия</a>
      </div>
    </div>
  </div>
</header>
